output {
  if "sysmessages" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "sysmessages-%{+YYYY.MM}"
    }
  }
  else if "haproxy" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "haproxy-%{+YYYY.MM}"
    }
  }
}